<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.agiliq.android.moreappslib" android:versionCode="1"
		  android:versionName="1.0-SNAPSHOT">

	<application>
		<activity android:name=".MoreAppsActivity" android:label="More Apps"/>
	</application>
</manifest>

